@import url(http://fonts.googleapis.com/css?family=Pontano+Sans|Stint+Ultra+Expanded);
body, ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px; }

a {
  text-decoration: none; }
  a:visited {
    color: black; }

body {
  font-family: "Pontano Sans", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Stint Ultra Expanded", serif; }

h5, h6 {
  font-family: "Pontano Sans", sans-serif; }

a {
  color: black;
  transition: color .3s ease; }
  a:visited {
    color: #feb78f; }
  a:hover {
    color: #F25802; }

.container {
  width: 80%;
  margin: 0 auto; }

header {
  text-align: center; }
  header .logo {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 100%;
    padding: 4px;
    height: 140px;
    width: 140px;
    border: thin solid black; }
  header nav {
    margin-bottom: 60px; }
  header ul li {
    display: inline-block;
    width: 22%;
    text-align: center; }
    header ul li a {
      font-family: "Stint Ultra Expanded", serif; }
      header ul li a:hover {
        border-bottom: thin solid #F25802; }
  header .top-right-button {
    position: fixed;
    top: 20px;
    right: 20px; }
    header .top-right-button .open-create-product {
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      height: 40px;
      width: 40px;
      vertical-align: middle;
      cursor: pointer; }
      header .top-right-button .open-create-product i {
        transition: color .5s ease; }
        header .top-right-button .open-create-product i:hover {
          color: #F25802; }

.products article {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  display: inline-block;
  width: 50%;
  min-height: 300px; }
  .products article a.image-link {
    transition: all .5s ease-in-out; }
    .products article a.image-link:hover {
      transform: rotate(360deg); }
  .products article img {
    width: 100px;
    height: 100px;
    margin-bottom: 6px;
    padding: 4px;
    border: thin solid #F25802;
    border-radius: 100%; }
  .products article h3, .products article h5 {
    margin-bottom: 4px; }
  .products article p {
    color: #F25802;
    margin-top: 4px; }
    .products article p span {
      color: black; }
  .products article blockquote {
    text-align: left;
    min-height: 90px; }
  .products article div.add-to-cart {
    cursor: pointer;
    margin: 0 auto;
    color: white;
    background-color: #F25802;
    border-radius: 10px;
    font-family: "Stint Ultra Expanded", serif;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 35%; }
    .products article div.add-to-cart:hover {
      background-color: #fd8643; }

body {
  height: 100%; }

.overlay {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: height .5s ease-in-out;
  color: white;
  display: none; }

.top-left-button {
  position: absolute;
  top: 20px;
  left: 20px; }
  .top-left-button i.fa-close {
    cursor: pointer;
    transition: color .5s ease-in-out; }
    .top-left-button i.fa-close:hover {
      color: #F25802; }

.edit-product-form, .create-product-form {
  display: none;
  margin: 0 auto;
  margin-top: 100px;
  border: thin solid white;
  border-radius: 10px;
  width: 50%;
  padding: 40px;
  text-align: center; }
  .edit-product-form label, .create-product-form label {
    width: 40%;
    margin-right: 2%;
    text-align: right;
    vertical-align: top;
    display: inline-block; }
    .edit-product-form label:after, .create-product-form label:after {
      content: ":"; }
  .edit-product-form input, .edit-product-form textarea, .create-product-form input, .create-product-form textarea {
    width: 50%;
    text-align: left; }

/* .expanded {
  height:100vh;
} */
.active {
  display: block; }

@media screen and (max-width: 620px) {
  .products article {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px; } }

/*# sourceMappingURL=compiled.css.map */
